<mat-grid-list cols="5" rowHeight="400px">
  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile colspan="3">
    <div class="cardcont">

      <div class="signintext logocnt">
        <img src="assets/images/gt_darkgreen_circle.png" class="logo">
      </div>

      <p class="signintext">Sign in to Growth Tutorials</p>
      <mat-card class="loginCard">

        <!-- Username -->
        <mat-form-field color="primary">
          <mat-label class="placeholder">Enter your Email</mat-label>
          <input matInput [type]="'text'">
        </mat-form-field>

        <!-- Password -->
        <mat-form-field color="blue">
          <mat-label class="placeholder">Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <!-- Sign in button -->
        <mat-card-actions>
          <button mat-button class="signinbtn">Sign in</button>
        </mat-card-actions>


      </mat-card>
    </div>
    <br>

  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="40px">
  <mat-grid-tile>OR</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="40px">
  <mat-grid-tile colspan="1" class="glogin">
    <div id="g_id_onload" data-client_id="17604544554-j685vnh4ianqrfi5cbnraljeo4u980l9.apps.googleusercontent.com"
      data-context="signin" data-ux_mode="popup" data-login_uri="http://localhost:4200/login" data-auto_prompt="false">
    </div>

    <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_blue" data-text="signin_with"
      data-size="large" data-logo_alignment="left" data-width="350">
    </div>
  </mat-grid-tile>
</mat-grid-list>