.center {
  text-align: center;
  padding-top: 10%;
}

.header {
  font-size: 64px;
  color: green;
}

.soon {
  font-size: 42px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(10, 10, 10, .6);
}