<!-- Top menu -->
<!-- Can move the toolbard to a common component -->

<mat-toolbar color="primary">
  <mat-grid-list class="menu" cols="24" rowHeight="100px">
    <mat-grid-tile colspan="1">
      <mat-icon>menu</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      Growth Tutorials
    </mat-grid-tile>
  </mat-grid-list>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile class="showcase-header">Discover Growth</mat-grid-tile>
</mat-grid-list>

<div class="sections">
  <mat-grid-list class="menu" cols="4" gutterSize="1em">

    <mat-grid-tile class="spn1" colspan="2" rowHeight="400px">
      1
    </mat-grid-tile>

    <mat-grid-tile class="spn2" colspan="2" rowHeight="400px">
      2
    </mat-grid-tile>

  </mat-grid-list>


  <mat-grid-list class="menu" cols="4" gutterSize="1em" rowHeight="100px">
    <mat-grid-tile class="demoLec" colspan="4">
      Book a free demo lecture!
    </mat-grid-tile>
  </mat-grid-list>



  <mat-grid-list class="menu" cols="4" gutterSize="1em">
    <mat-grid-tile class="spn3" colspan="4" rowHeight="200px">

    </mat-grid-tile>
  </mat-grid-list>

</div>